/* MemoryGame.css */

.MemoryGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%; /* Adjusted width to fit the viewport */
  min-height: 100vh;
  position: relative; /* Added position relative for fullscreen background */
}

.fullscreen-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(102, 97, 96, 0.8), rgba(33, 21, 18, 0.8)); /* Adjusted background color with alpha for transparency */
  z-index: -1; /* Ensure it's behind other content */
}

.gameInfo {
  position: relative; /* Added position relative to place it above the background */
  margin-bottom: 20px;
  font-size: 24px;
  z-index: 1; /* Ensure it's above the background */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  z-index: 1; /* Ensure it's above the background */
}

.card {
  width: 80px;
  height: 80px;
  perspective: 1000px;
  margin: 5px;
  cursor: pointer;
}

/* Card inner */
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner,
.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card .card-inner .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

/* Front and back of the card */
/* Front and back of the card */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  border-radius: 8px;
  background-color: rgba(240, 240, 240, 0.8); /* Adjusted background color with alpha for transparency */
  color: #333;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Solved card */
.card.solved .card-inner {
  pointer-events: none;
}

.points {
  font-size: 20px;
  margin-top: 20px;
}
